<div
  class="layout-container"
  (mouseenter)="hover=true"
  (mouseleave)="hover=false"
>
  <div
    pSizeObserver
    class="layout-main-panel"
    [@sizeAnimation]="{value: hover || routerIsActive, params: { width: hover || routerIsActive ? containerSize[1] : containerSize[0] }}"
  >
    <ng-content></ng-content>
  </div>
  <div
    pSizeObserver
    class="layout-main-panel--details"
    [@sizeAnimation]="{value: routerIsActive, params: { width: routerIsActive ? detailsSize[1] : detailsSize[0] }}"
  >
    <router-outlet (activate)="routerIsActive=true" (deactivate)="routerIsActive=false"></router-outlet>
  </div>
</div>
