:host {
  position: relative;
  display: block;
  height: 100%;
  width: fit-content;
}
.animation-panel {
  height: 100%;
  width: 60px;
  transition: .3s;
  &.mouse-over, &.route-active {
    width: 340px;
  }
}
