<lp-container-template>
  <ui-header
    [title]="'Mock for workspace'"
    [description]="'Tabs'"
    [avatar]="{icon: 'cluster'}"
    [back]="['..']"
  >
    <nz-button-group extra [nzSize]="'small'">
      <button nz-button [nzType]="'default'" [nzSize]="'small'">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </nz-button-group>
    <nz-input-group [nzSize]="'small'" [nzSearch]="true">
      <input
        nz-input
        #search
        placeholder="Filter Tabs"
        (input)="filter = search.value"
      />
    </nz-input-group>
  </ui-header>
  <div
    class="tabs-list"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <div class="custom-placeholder" *cdkDragPlaceholder></div>
    <ui-panel-element
      *ngFor="let tab of (((tabs$ | async) || []) | filter: filter: ['name'])"
      cdkDrag
      [active]="(tab.name === (currentTab$ | async)?.name)"
      (click)="onClick(tab)"
      [title]="tab?.name || ''"
      [avatar]="{icon: 'layout'}"
    >
      <div>
        <nz-button-group [nzSize]="'small'">
          <button
            nz-button
            nzType="default"
            [nzSize]="'small'"
            [routerLink]="[tab.name]"
            (click)="$event.stopPropagation()"
          >
            <span nz-icon nzType="info" nzTheme="outline"></span>
          </button>
        </nz-button-group>
      </div>
    </ui-panel-element>
  </div>
</lp-container-template>
