:host {
  height: 100%;
  min-width: 340px;
  display: grid;
  grid-template-columns: 340px fit-content(0);
  overflow: hidden;
}
.panel {
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr;
  .application-list {
    overflow-y: auto;
  }
}
