<div>
  <ui-header
    [title]="'Launchpad'"
    [avatar]="{text: 'M'}"
  >
    <nz-button-group extra [nzSize]="'small'">
      <nz-badge [nzCount]="99" [nzSize]="'small'" [nzStyle]="{'z-index': '1'}">
        <button nz-button [nzType]="'default'" [routerLink]="['notification']" [routerLinkActive]="'primary'" [relativeTo]="activatedRoute">
          <span nz-icon nzType="notification" nzTheme="outline"></span>
        </button>
      </nz-badge>
      <button nz-button [nzType]="'default'" [routerLink]="['settings']" [routerLinkActive]="'primary'" [relativeTo]="activatedRoute">
        <span nz-icon nzType="setting" nzTheme="outline"></span>
      </button>
    </nz-button-group>
    <nz-card
      [nzSize]="'small'"
      [nzBordered]="true"
      [nzActions]="[saveTpl, renameTpl, removeTpl]"
    >
      <ng-template #saveTpl>
        <span nz-icon nzType="save" nzTheme="outline"></span>
      </ng-template>
      <ng-template #renameTpl>
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </ng-template>
      <ng-template #removeTpl>
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </ng-template>
      <nz-card-meta
        [nzTitle]="(currentLayout$ | async)?.name || ''"
        [nzAvatar]="avatarTpl"
        [nzDescription]="'Mock for workspace'"
      >
        <ng-template #avatarTpl>
          <span nz-icon nzType="layout" nzTheme="outline"></span>
        </ng-template>
      </nz-card-meta>
    </nz-card>
  </ui-header>
  <ui-navigation-item
    [avatar]="{icon: 'appstore'}"
    [title]="'Applications'"
    [routerLink]="['applications']"
    [relativeTo]="activatedRoute.parent"
  ></ui-navigation-item>
  <ui-navigation-item
    [avatar]="{icon: 'cluster'}"
    [title]="'Workspaces'"
    [routerLink]="['workspaces']"
    [relativeTo]="activatedRoute.parent"
  ></ui-navigation-item>
  <ui-navigation-item
    [avatar]="{icon: 'layout'}"
    [title]="'Tabs'"
    [routerLink]="['tabs']"
    [relativeTo]="activatedRoute.parent"
  ></ui-navigation-item>
  <ui-navigation-item
    [avatar]="{icon: 'logout'}"
    [title]="'Exit'"
    [routerLink]="['exit']"
    [relativeTo]="activatedRoute.parent"
  ></ui-navigation-item>
</div>
<rubber-outlet></rubber-outlet>
