<div>
  <ui-header
    [title]="'Launchpad'"
    [avatar]="{text: 'M'}"
  >
    <nz-button-group extra [nzSize]="'small'">
      <button nz-button nzDanger nzType="default" (click)="feedback()">
        <span nz-icon nzType="bug" nzTheme="outline"></span>
      </button>
      <button nz-button [nzType]="'default'" [routerLink]="['settings']" [routerLinkActive]="'primary'" [relativeTo]="activatedRoute">
        <span nz-icon nzType="setting" nzTheme="outline"></span>
      </button>
      <button nz-button nzType="default" (click)="exit()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
      </button>
    </nz-button-group>
    <nz-card
      [nzSize]="'small'"
      [nzActions]="[saveTpl, renameTpl, removeTpl]"
    >
      <ng-template #saveTpl>
        <span nz-icon nzType="save" nzTheme="outline"></span>
      </ng-template>
      <ng-template #renameTpl>
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </ng-template>
      <ng-template #removeTpl>
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </ng-template>
      <nz-card-meta
        [nzTitle]="'Mock for workspace'"
        [nzDescription]="(currentLayout$ | async)?.name || ''"
      >
      </nz-card-meta>
    </nz-card>
  </ui-header>
  <ui-navigation-item
    [avatar]="{icon: 'appstore'}"
    [title]="'Applications'"
    [routerLink]="['applications']"
    [relativeTo]="activatedRoute.parent"
  ></ui-navigation-item>
  <ui-navigation-item
    [avatar]="{icon: 'cluster'}"
    [title]="'Workspaces'"
    [routerLink]="['workspaces']"
    [relativeTo]="activatedRoute.parent"
  ></ui-navigation-item>
  <ui-navigation-item
    [avatar]="{icon: 'layout'}"
    [title]="'Tabs'"
    [routerLink]="['tabs']"
    [relativeTo]="activatedRoute.parent"
  ></ui-navigation-item>
</div>
<rubber-outlet></rubber-outlet>
